<a href="https://colab.research.google.com/github/dkrdineshkumarreddy/Dinesh.ipynb/blob/main/loops_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[8,5,15,12,9]
for i in a:
    print(i,end=" ")

8 5 15 12 9

In [ ]:
a=[8,5,15,12,9]
for i in a:
    if i%2==0:
        print(i)
print("Thank you")

8
12
Thank you

In [ ]:
a=[8,5,15,12,9]
sum=0
for i in a:
    sum =sum+i
print("sum of all numbers is : ",sum)

sum of all numbers is :  49

In [ ]:
a=[8,5,15,12,9]
even_sum=0
odd_sum=0
for i in a:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print("Sum of even is : ",even_sum)
print("sum of odd is : ",odd_sum)

Sum of even is :  20
sum of odd is :  29

In [ ]:
a=[5,9,6,2,7]
Even_count=0
for i in a:
    if i%2==0:
        Even_count +=1
print("Total count of even numbers is : ",Even_count)

Total count of even numbers is :  2

In [ ]:
a=[8,5,15,12,9]
odd_count=0
even_count=0
for i in a:
    if i%2==0:
        even_count +=1
    elif i%2==1:
        odd_count +=1
print("Total even_count : ",even_count)
print("Total odd_count : ",odd_count)

Total even_count :  2
Total odd_count :  3

In [ ]:
a=[5,9,6,2,7]
biggest=a[0]
for i in a:
    if i>biggest:
        biggest=i
print("Biggest number is : ",biggest)

Biggest number is :  9

In [ ]:
a=[5,9,6,2,7]
smallest=a[0]
for i in a:
    if i<smallest:
        smallest=i
print("Smallest is : ",smallest)

Smallest is :  2

In [ ]:
a=[5,9,6,2,7]
biggest=a[0]
smallest=a[0]
for i in a:
    if i>biggest:
        biggest=i
    if i<smallest:
        smallest=i
difference=biggest-smallest
print("Difference is : ",difference)

Difference is :  7

In [ ]:
a=[5,9,6,2,7]
n=int(input("enter number : "))
for i in a:
    if i==n:
        print("available")
        break
else:

      print("not available")

enter number : 90
not available

In [ ]:
a=[5,9,6,2,7,6]
n=int(input("enter number : "))
available=0
for i in a:
    if i==n:
        available +=1
print("available : ",available)

enter number : 6
available :  2

In [ ]:
for i in range(1,6):
    print(i,end=" ")

1 2 3 4 5

In [ ]:
n=int(input("Enter number : "))
for i in range(1,n+1):
    print(i,end=" ")

Enter number : 5
1 2 3 4 5

In [ ]:
n=int(input("enter number : "))
even_sum=0
for i in range(1,n+1):
    if i%2==0:
        even_sum +=i
print("Sum of Even numbers : ",even_sum)

enter number : 5
Sum of Even numbers :  6

In [ ]:
n=int(input("Enter number : "))
for i in range(1,n+1):
    if i%2==0:
        print(i)

Enter number : 6
2
4
6

In [ ]:
n=int(input("Enter number : "))
for i in range(n,0,-1):
    print(i)

Enter number : 5
5
4
3
2
1

In [ ]:
n=int(input("Enter number : "))
sum_even=0
for i in range(1,n+1):
    if i%2==0:
        sum_even +=i
print("Sum of even numbers is : ",sum_even)

Enter number : 5
Sum of even numbers is :  6

In [ ]:
n=int(input("Enter number : "))
product=1
for i in range(1,n+1):
    product *=i
print("product : ",product)

Enter number : 5
product :  120

In [ ]:
n=int(input("Enter number : "))
for i in range(1,n+1):
    if i%5==0:
        print(i)

Enter number : 15
5
10
15

In [ ]:
n=int(input("Enter number : "))
print("odd\teven")
for i in range(1,n+1):
    if(i%2==1):
        print(i,end="\t")
    elif i%2==0:
         print(i,end="\t")

Enter number : 4
odd	even
1	2	3	4

In [ ]:
start=int(input("enter start number :"))
end=int(input("enter end number : "))
if start>end:
    step=-1
    end=end-1
else:
    step=1
    end=end+1
for i in range(start,end,step):
    print(i,end=" ")

enter start number :3
enter end number : 7
3 4 5 6 7

In [ ]:
n=int(input("Enter number : "))
factorial=1
for i in range(1,n+1):
    factorial *=i
print("Factorial is : ",factorial)

In [ ]:
n=int(input("Enter number : "))
for i in range(1,n+1):
    if n%i==0:
        print(i)

Enter number : 5
1
5

In [ ]:
n=int(input("Enter number : "))
count=0
for i in range(1,n+1):
    if n%i==0:
        count +=1
        print(i)

Enter number : 5
1
5

In [ ]:
n=int(input("enter number : "))
count=0
for i in range(1,n+1):
    if(n%i==0):

       count +=1
if count==2:
    print("prime")
else:
    print("not prime")

enter number : 11
prime

In [ ]:
n=int(input("Enter number : "))
for i in range(2,n):
    if n%i==0:
        print("not prime")
        break
else:
    print("prime")

Enter number : 11
prime

In [ ]:
for r in range(1,3):
    for c in range(1,4):
        print(c,end=" ")
    print()

1 2 3
1 2 3

In [ ]:
k=65
for r in range(1,6):
    for c in range(1,6):
        print(chr(k),end=" ")
        k +=1
    print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [ ]:
for r in range(1,6):
    for c in range(1,r+1):
        print(c,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,101):
    if(i%3==0 and i%5==0):
        print(i)

15
30
45
60
75
90

In [ ]:
n=int(input("Enter number  : "))
even_count=0
odd_count=0
for i in range(1,n+1):
    if (i%2==0):
        even_count +=1
    else:
         odd_count +=1
print("Total even count is : ",even_count)
print("Total odd count is : ",odd_count)

Enter number  : 16
Total even count is :  8
Total odd count is :  8

In [ ]:
for i in range(1,51):
    if(i%7 !=0):
        print(i,end=" ")

1 2 3 4 5 6 8 9 10 11 12 13 15 16 17 18 19 20 22 23 24 25 26 27 29 30 31 32 33 34 36 37 38 39 40 41 43 44 45 46 47 48 50

In [ ]:
for i in range(1,51):
    if(i%7==0):
        continue
    print(i,end=" ")

1 2 3 4 5 6 8 9 10 11 12 13 15 16 17 18 19 20 22 23 24 25 26 27 29 30 31 32 33 34 36 37 38 39 40 41 43 44 45 46 47 48 50

In [ ]:
n=int(input("Enter Number : "))
sum=0
for i in range(1,n+1):
    sum +=i**2
print("sum of squares : ",sum)

Enter Number : 15
sum of squares :  1240

In [ ]:
n=int(input("Enter number : "))
count=0
for i in range(1,n+1):


        count +=1
print("count is : ",count)

Enter number : 25
count is :  25

In [ ]:
Ages=[12,22,68,6,13,60]
Child_count=0
Teen_count=0
Adult_count=0
Senior_count=0
for age in Ages:
    if(age<13):
        Child_count +=1


    elif(13<=age<=19):
         Teen_count +=1

    elif(20<=age<=59):
         Adult_count +=1

    else:
        Senior_count +=1
print("Child count is : ",Child_count)
print("Teen count is : ",Teen_count)
print("Adult count is : ",Adult_count)
print("Senior count is : ",Senior_count)

Child count is :  2
Teen count is :  1
Adult count is :  1
Senior count is :  2

In [ ]:
Bill_amounts=[2000,1500,8000,1000,500,2500]
for amt in Bill_amounts:
    if amt>5000:
        print(amt,"Free Gift+20% off")
    elif amt>3000:
         print(amt,"10 % off")
    elif amt>1000:
         print(amt,"5% off")
    else:
        print(amt,"No offer")

2000 5% off
1500 5% off
8000 Free Gift+20% off
1000 No offer
500 No offer
2500 5% off

In [ ]:
sum=0
ch='y'
while ch=='y':
      n=int(input("Enter number : "))
      sum +=n
      ch=input("Do you want to continue (y/n): ")
print("sum : ",sum)

Enter number : 5
Do you want to continue (y/n): y
Enter number : 5
Do you want to continue (y/n): n
sum :  10

In [ ]:
even_sum=0
even_count=0
ch='y'
while ch=='y':
       n=int(input("Enter number : "))
       if n%2==0:
          even_sum =even_sum+n
          even_count=even_count+1
       ch=input("Do you want to continue (y/n): ")
print("sum : ",even_sum)
print("count : ",even_count)

Enter number : 20
Do you want to continue (y/n): y
Enter number : 25
Do you want to continue (y/n): y
Enter number : 20
Do you want to continue (y/n): n
sum :  40
count :  2

In [ ]:
for i in range(1,6):
    if i%2==0:
        continue
    print(i)
print("Thank you")

1
3
5
Thank you

In [ ]:
for i in range(1,6):
    if i%2==0:
        break
print(i)
print("Thank you")

2
Thank you

In [ ]:
def calsquare(n):
    square=n*n
    return square
n=int(input("enter number : "))
res=calsquare(n)
print(res)

enter number : 20
400

In [ ]:

age=int(input("Enter age : "))
assert age>0,"you should enter positive number."
if(age>=18):
    print("eligible")
else:
    print("not eligible")

Enter age : 20
eligible

In [ ]:
passed_halltickets=[1122,1136,1154,1169,1221,1189]
halltickets=int(input("Enter halltickets : "))
for i in passed_halltickets:
    if i==halltickets:
        print("pass")
        break

else:

     print("fail")

Enter halltickets : 1154
pass

In [2]:
sum=0
ch='y'
while ch.lower()=='y':
    n=int(input("Enter number : "))
    sum =sum+n
    ch=input("Do you want to continue(y/n) : ")
print("Sum is : ",sum)

Enter number : 25
Do you want to continue(y/n) : Y
Enter number : 25
Do you want to continue(y/n) : y
Enter number : 25
Do you want to continue(y/n) : y
Enter number : 25
Do you want to continue(y/n) : 65
Sum is :  100

In [4]:
sum_even=0
ch='y'
while ch=='y':
    n=int(input("Enter any number : "))
    if n%2==0:
        sum_even +=n
    ch=input("Do you want continue (y\n) : ")
print("Sum of even numbers is : ",sum_even)

Enter any number : 20
Do you want continue (y
) : y
Enter any number : 20
Do you want continue (y
) : y
Enter any number : 20
Do you want continue (y
) : y
Enter any number : 20
Do you want continue (y
) : n
Sum of even numbers is :  80

In [12]:
# Welcome to Hotel
print("1.Idly ---> 50")
print("2.Dosa ---> 80")
print("3.Puri ---> 100")
print("4.Vada ---> 90")
final_bill=0
ch='y'
while ch=='y':

         choice=int(input("Enter your choice : "))
         if choice==1:
            item="Idly"
            cost=50
            print("Idly cost is : ",cost)
         elif choice==2:
              item="Dosa"
              cost=80
              print("Dosa cost is : ",cost)
         elif choice==3:
              item="Puri"
              cost=100
              print("Puri cost is : ",cost)
         else:
              item="Vada"
              cost=90
              print("Vada cost is : ",cost)
         qty=int(input("Enter quantity : "))
         bill_amt=qty*cost
         print("Bill_amt is : ",bill_amt)
         ch=input("Do you want to continue (y\n) : ")
         final_bill +=bill_amt
gst=int(input("Enter gst rate : "))
gst_amt=bill_amt*gst/100
final_bill +=gst_amt
print("Final Bill Amount is : ",final_bill)

1.Idly ---> 50
2.Dosa ---> 80
3.Puri ---> 100
4.Vada ---> 90
Enter your choice : 4
Vada cost is :  90
Enter quantity : 3
Bill_amt is :  270
Do you want to continue (y
) : y
Enter your choice : 1
Idly cost is :  50
Enter quantity : 5
Bill_amt is :  250
Do you want to continue (y
) : n
Enter gst rate : 0
Final Bill Amount is :  520.0

In [22]:
n=int(input("Enter number : "))
temp=n
rev=0
while n>0:
    r=n%10
    n=n//10
    rev=rev*10+r
if temp==rev:
    print(temp,"is palindrome")
else:
    print(temp," is not palindrome")

Enter number : 123
123  is not palindrome

In [ ]:
n=int(input("Enter number : "))
if n==n[::-1]:

In [23]:
n=int(input("Enter number : "))
temp=n
rev=0
while n>0:
    r=n%10
    n=n//10
    rev=rev*10+r
if temp==rev:
    print(temp,"is palindrome.")
else:
     print(temp,"is not palindrome.")

Enter number : 252
252 is palindrome.

In [25]:
n=int(input("enter number : "))
count=0
for i in range(1,n+1):
    if(n%i==0):
        count +=1
if count==2:
    print("prime")
else:
     print("not prime")

enter number : 2
prime

In [26]:
n=int(input("enter number : "))
for i in range(2,n):
    if(n%i==0):
        print("not prime")
        break
else:
     print("prime")

enter number : 2
prime

In [28]:
n=int(input("enter number : "))
count=0
while n>0:
    r=n%10
    n=n//10
    count=count+1
print("total is : ",count)

enter number : 12345
total is :  5

In [30]:
n=int(input("enter number : "))
ecount=0
ocount=0
while n>0:
    r=n%10
    n=n//10
    if r%2==0:
        ecount +=1
    else:
        ocount +=1
print("ecount is : ",ecount)
print("ocount is : ",ocount)

enter number : 252500
ecount is :  4
ocount is :  2

In [33]:
n=int(input("enter number : "))
sum=0
while n>0:
    r=n%10
    n=n//10
    sum =sum+r
print("Sum is : ",sum)

enter number : 125
Sum is :  8

In [34]:
n=int(input("Enter number : "))
rev=0
while n>0:
    r=n%10
    n=n//10
    rev=rev*10+r
print("Rev is : ",rev)

Enter number : 121
Rev is :  121

In [35]:
n=int(input("Enter any number is : "))
temp=n
rev=0
while n>0:
    r=n%10
    n=n//10
    rev=rev*10+r
if temp==rev:
    print(temp,"is palindrome.")
else:
    print(temp,"is not palindrome.")

Enter any number is : 121
121 is palindrome.

In [39]:
n=int(input("Enter any number is : "))
esum=0
while n>0:
      r=n%10
      n=n//10
      if r%2==0:
          esum +=r
print("sum is : ",esum)

Enter any number is : 2550
sum is :  2

In [42]:
n=int(input("Enter any number is : "))
esum=0
while n>0:
      r=n%10
      n=n//10
      if r%2==0:
          esum +=1
print("sum is : ",esum)

Enter any number is : 123456
sum is :  3

In [43]:
n=int(input("Enter any number is : "))
esum=0
while n>0:
      r=n%10
      n=n//10
      if r%2==0:
          esum +=r
print("sum is : ",esum)

Enter any number is : 123456
sum is :  12

In [45]:
n=int(input("Enter any number is : "))
esum=0
osum=0
while n>0:
      r=n%10
      n=n//10
      if r%2==0:
          esum +=1
      else:
           osum +=1
print("esum is : ",esum)
print("osum is : ",osum)

Enter any number is : 123456
esum is :  3
osum is :  3

In [46]:
n=int(input("Enter any number is : "))
esum=0
osum=0
while n>0:
      r=n%10
      n=n//10
      if r%2==0:
          esum +=r
      else:
           osum +=r
print("esum is : ",esum)
print("osum is : ",osum)

Enter any number is : 123456
esum is :  12
osum is :  9

In [47]:
n=int(input("Enter number : "))
temp=n
rev=0
while n>0:
      r=n%10
      n=n//10
      rev=rev*10+r
if temp==rev:
    print(temp,"is palindrome")
else:
     print(temp,"is not palindrome")

Enter number : 121
121 is palindrome